* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  background-color: rgb(238, 63, 63);
  padding: 20px;
  height: 20vh;
}
.header h1 {
  color: white;
  width: 150px;
  margin-bottom: 10px;
}
.main {
  background-color: rgb(238, 63, 63);
  padding: 20px;
  color: white;
  line-height: 30px;
  height: 70vh;
}
.main ul {
  padding-left: 20px;
  list-style: square;
}
.footer {
  background-color: rgb(238, 63, 63);
  text-align: center;
  padding: 20px 0;
  height: 10vh;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.img {
  width: 300px;
  height: 300px;
}
